.navs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* background-color: #fff; */

}

/* 顶部左侧 */
.logo-text{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 900;
    color: #5b4235;
    transition: all 0.3s ease-in-out;
    /* cursor: pointer; */
}

.logo-text > * {
    padding:0px 0.5rem;
}

.logo-text img {
    height: 3.5rem;
    /* border-radius: 50%; */
}

/* 顶部右侧 */
.control-pannel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1rem;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    background-color: #f7f5f2;
    border-radius: 20px;
}


.speed-l{
    height: 200px;
    overflow-y: scroll;
}
.speed-l::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.speed-l > *:hover{
    background-color: #d6ccc2;

}