.block{
    display: inline-block;
    height: 2.3em;
    line-height: 2.3em;
    width: 2.3em;
    border: 2px solid #d5bdaf;
    border-radius: 20%;
    text-align: center;
    background-color: #e3d5ca;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}   

.rail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    height: 15vh;
    width: auto;
    /* background-color: rgb(63, 205, 89); */
}

.block-container{
    position: relative;
}

.pointer{
    position: absolute;
    left: 33%;
    top: -25%;
    width: 0;
    height: 0;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
    border-top: 0.8em solid red;
    visibility: hidden;
}