.score-left{
    flex: 3 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.score-left-item{
    flex: 1 0px;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.score-left-item span:nth-child(1){
    width: 100%;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #ceab97;
}

.score-left-item span:nth-child(2){
    font-size: small;
    text-align: center;
    padding-top: 0.2rem;
}

.score-right{
    flex:4 0px;
    /* padding: 0 0.2rem; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.8rem;
    font-weight: bold;
}


.score-right-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 2.5em;
}

.score-right-item :nth-child(2){
    flex: 1;
    text-align: center;
}
