.page{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
    max-width: 1600px;
    height: 100vh;
}

.header{
    padding: 30px 60px;
}
.content{
    display: flex;
    flex-direction: column;
    /* background: orange; */
    height: 100%;
    flex-grow: 1;
    width: 80%;
    margin: 0 10%;
}
.footer{
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-p{
    height: 33.33333%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-r{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-s{

    width: 70%;
    margin: auto 15% 5%;
    background-color: #f8f5f2;
    border-radius: 20px;
    box-shadow: 0 0 10px #d5bdaf;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-top: auto;
}